pyenv install -s `cat .python-version`
pyenv local `cat .python-version`

# install circleci tool for pre-commit validations
curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | bash
