exclude: '^features/cli/lint.feature|^data/features/feature_with_mixed_results.feature'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-merge-conflict
    - id: check-toml
    - id: check-yaml
    - id: check-xml
    - id: end-of-file-fixer
    - id: trailing-whitespace
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
-   repo: https://github.com/hadialqattan/pycln
    rev: v1.3.2
    hooks:
    - id: pycln
-   repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        name: format python code using black
        language_version: python3
        args: [ --line-length=80 ]
- repo: local
  hooks:
    - id: cucu_lint
      name: lint feature files
      entry: ./bin/cucu lint --fix
      language: script
      files: ^.*\.feature$
