[tool.poetry]
name = "cucu"
version = "0.1.0"
license = "MIT"
description = ""
authors = ["Rodney Gomes <rodneygomes@gmail.com>"]
readme = "README.md"
homepage = ""
repository = ""
keywords = ["cucumber", "selenium"]

[tool.poetry.dependencies]
python = "^3.8"
click = "^8.0.0"
behave = "^1.2.6"
selenium = "^3.141.0"
chromedriver-autoinstaller = "^0.2.2"
PyYAML = "^6.0"
flake8-quotes = "^3.3.1"
coverage = "4.5.4"
Jinja2 = "^3.0.3"
tenacity = "^8.0.1"
retrying = "^1.3.3"

[tool.poetry.dev-dependencies]
pytest = "^5.4.3"
nox = "^2020.5.24"
flake8 = "^4.0.1"
ipdb = "^0.13.9"

[tool.poetry.scripts]
cucu = "cucu.cli:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
