{% extends "layout.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">HTML Test Report</a>
        </div>
    </nav>
    <table class="table table-hover datatable">
        <thead>
            <tr>
                <th>Feature</th>
                <th class="text-center">Total<br/>{{ grand_totals['total_scenarios'] }}</th>
                <th class="text-center">Passed<br/>{{ grand_totals['total_scenarios_passed'] }}</th>
                <th class="text-center">Failed<br/>{{ grand_totals['total_scenarios_failed'] }}</th>
                <th class="text-center">Skipped<br/>{{ grand_totals['total_scenarios_skipped'] }}</th>
                <th class="text-center">Status<br/>&nbsp;</th>
                <th class="text-center">Duration<br/>{{ '{:.3f}'.format(grand_totals['duration']) }}s</th>
            </tr>
        </thead>
        {% for feature in features %}
        <tr>
            <td><a href="{{ urlencode(escape(feature['name'])) }}.html"><pre style="display: inline; color: grey">{{ escape(feature['name']) }}</pre></a></td>
            <td class="text-center">{{ feature['total_scenarios'] }}</td>
            <td class="text-center">{{ feature['total_scenarios_passed'] }}</td>
            <td class="text-center">{{ feature['total_scenarios_failed'] }}</td>
            <td class="text-center">{{ feature['total_scenarios_skipped'] }}</td>
            {% if feature['status'] == 'passed' %}
                <td class="text-center"><pre style="display: inline; color: green">{{ feature['status'] }}</pre></td>
            {% elif feature['status'] == 'failed' %}
                <td class="text-center"><pre style="display: inline; color: red">{{ feature['status'] }}</pre></td>
            {% elif feature['status'] == 'skipped' %}
                <td class="text-center"><pre style="display: inline; color: blue">{{ feature['status'] }}</pre></td>
            {% elif feature['status'] == 'untested' %}
                <td class="text-center"><pre style="display: inline; color: gray">{{ feature['status'] }}</pre></td>
            {% endif %}
            <td class="text-center">{{ '{:.3f}'.format(feature['duration']) }}s</td>
        </tr>
        {% endfor %}
    </table>

    <script>
    setupReportTables([[5, 'asc']], [{type: 'string'}, {type: 'num'}, {type: 'num'}, {type: 'num'}, {type: 'num'}, {type: 'html'} , {type: 'timestamp'} ])
    </script>
{% endblock %}
