{% extends "layout.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">HTML Test Report</a>

            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="../../index.html">Top</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Logs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      {% for log_file in scenario['logs'] %}
                      <a class="dropdown-item" href="{{ log_file['filepath'] }}">{{ log_file['name'] }}</a>
                      {% endfor %}
                    </div>
                  </li>
                <li class="nav-item active">
                    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls=".multi-collapse">toggle images</button>
                </li>
              </ul>

            </div>
        </div>
    </nav>
    <style>
    .anchor {
      display: inline;
      margin: 0;
      padding: 0;
      font-size: 8px;
      font-style: bold;
      text-decoration: none;
      visibility: hidden;
    }

    .anchor-toggle:hover > .anchor {
      display: inline;
      visibility: visible;
    }
    </style>
    <table class="table table-borderless">
        <tr class="d-flex">
            <td class="col-11 text-truncate">
                <pre style="display: inline; color: maroon;">Scenario:</pre> {{ escape(scenario['name']) }}
            </td>
            <td class="col-11 text-truncate" style="color: gray;"></td>
        </tr>
        {% for step in steps %}
            {% set step_name = step['keyword'] + ' ' + escape(step['name']) %}
            {% if step['substep'] %}
                {% set step_prefix = "     ⤷" %}
            {% else %}
                {% set step_prefix = "" %}
            {% endif %}
            {% if step['result'] is defined %}
                {% set step_duration = "{:.3f}".format(step["result"]["duration"]) %}
            {% else %}
                {% set step_duration = "0.000" %}
            {% endif %}
            {% set step_keyword = step_prefix + step['keyword'].rjust(6, ' ') %}
            <tr class="d-flex">
                <td class="anchor-toggle text-truncate col-11" data-toggle="collapse" href="#collapsable-row-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapsable-row-{{ loop.index }}">
                    <a class="anchor" id="step_{{ loop.index}}" href="#step_{{ loop.index }}">🔗</a>
                {% if step['result'] is not defined %}
                    <pre style="display: inline; color: blue">{{ step_keyword }}</pre><pre style="color: blue; display: inline"> {{ escape(step['name']) }}</pre>
                {% elif step['result']['status'] == 'passed' %}
                    <pre style="display: inline; color: green">{{ step_keyword }}</pre><pre style="display: inline; text-overflow: ellipsis; overflow: hidden;"> {{ escape(step['name']) }}</pre>
                {% elif step['result']['status'] == 'failed' %}
                    <pre style="display: inline; color: red">{{ step_keyword }}</pre><pre style="color: red; display: inline"> {{ escape(step['name']) }}</pre>
                {% elif step['result']['status'] == 'skipped' %}
                    <pre style="display: inline; color: blue">{{ step_keyword }}</pre><pre style="color: blue; display: inline"> {{ escape(step['name']) }}</pre>
                {% elif step['result']['status'] == 'undefined' %}
                    <pre style="display: inline; color: orange">{{ step_keyword }}</pre><pre style="color: orange; display: inline"> {{ escape(step['name']) }}</pre>
                {% endif %}
                </td>
                <td><pre style="display: inline; color: gray;"># {{ step_duration }}s</pre></td>
            </tr>
            {% if step['text'] %}
            <tr class="d-flex">
                <td class="col-11" colspan="2">
                    <pre class="text-wrap" style="color: black; margin: 0">      """</pre>
                    <pre class="text-wrap" style="color: black; margin: 0">      {{ step['text'] }}</pre>
                    <pre class="text-wrap" style="color: black; margin: 0">      """</pre>
                </td>
            </tr>
            {% endif %}
            {% if step['table'] %}
            <tr class="d-flex">
                <td class="col-11" colspan="2">
                    <pre style="color: black; margin: 0; display: inline">      |</pre>
                    {% for heading in step['table']['headings'] %}
                    <pre style="color: black; margin: 0; display: inline"> {{ heading }} |</pre>
                    {% endfor %}
                    </br>
                    {% for row in step['table']['rows'] %}
                        <pre style="color: black; margin: 0; display: inline">      |</pre>
                        {% for value in row %}
                        <pre class="text-wrap" style="color: black; margin: 0; display: inline"> {{ value }} |</pre>
                        {% endfor %}
                        </br>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
            {% if step['result'] is defined %}
                {% if step['result']['stdout'] %}
                <tr class="d-flex">
                    {% for line in step['result']['stdout'] %}
                        <td class="col-11" colspan="2"><pre style="color: darkgray">{{ escape(line) }}</pre></td>
                    {% endfor %}
                </tr>
                {% endif %}

                {% if step['result']['error_message'] %}
                    {% for line in step['result']['error_message'] %}
                    <tr class="d-flex">
                        <td class="col-11" colspan="2" style="margin: 0"><pre style="color: gray; margin: 0">{{ escape(line) }}</pre></td>
                    </tr>
                    {% endfor %}
                {% endif %}

            {% endif %}
            {% if step['image'] is defined and step['result'] is defined %}
            <tr class="d-flex">
                <td class="collapse multi-collapse" id="collapsable-row-{{ loop.index }}" colspan="2">
                    <img class="col-12 shadow bg-white rounded" alt='{{ step_name }}' title='{{ step_name }}' src='{{ step["image"] }}'></img>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    <script>
        const urlParams = new URLSearchParams(window.location.search)
        var expandables = [];
        var expandable_ids = urlParams.get('expand');
        if (expandable_ids === 'all') {
            expand = $('.collapse');
        } else if (expandable_ids) {
            var ids = expandable_ids.split(',');
            for (var index = 0; index < ids.length; index++) {
                console.log('looking up ' + ids[index]);
                expandables.push(document.getElementById(ids[index]));
            }
        }
        for (var index=0; index < expandables.length; index++) {
            $(expandables[index]).removeClass('hide')
            $(expandables[index]).addClass('show')
        }

        // necessary to make sure we jump to the anchored step as the page loads
        // and then we take the URL parameter and figure out which rows to
        // expand and only then would it make sense to adjust for any anchors
        // mentioned in the URL
        // window.location.href = window.location.href;

        $('document').ready(function() {
            MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
            var observer = new MutationObserver(function(mutations, observer) {
                // update any open/closed rows
                var url = window.location.href.split('?')[0];
                var anchor = '#' + (window.location.href.split('#')[1] || '');
                var expanded = $('.collapse.show');
                var expanded_ids = [];
                for (var index=0; index < expanded.length; index++) {
                    expanded_ids.push(expanded[index].getAttribute('id'))
                }
                url = url + '?expand=' + expanded_ids.join(',') + anchor;
                history.pushState(null, "", url);
            });
            observer.observe(document, {
              subtree: true,
              attributes: true
            });
        });
    </script>
{% endblock %}
