{% extends "layout.html" %}
{% block content %}
    <nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Scenario HTML Test Report</a>

            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="../../index.html" title="go to index report">Index</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../../{{ feature['name'] }}.html" title="go to feature report">Feature</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="various log files">
                        Logs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      {% for log_file in scenario['logs'] %}
                      <a class="dropdown-item" href="{{ log_file['filepath'] }}">{{ log_file['name'] }}</a>
                      {% endfor %}
                    </div>
                </li>
                <li class="nav-item active">
                    <button class="btn btn-md btn-light" title="show images" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls=".multi-collapse">🖼</button>
                </li>
                <li class="nav-item active">
                    <button class="btn btn-md btn-light" title="scroll to top" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" class="nav-link">⬆️</button>
                </li>
                <li class="nav-item active">
                    <button class="btn btn-md btn-light" title="scroll to bottom" onclick="window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });" class="nav-link">⬇️ </button>
                </li>
                <li class="align-middle">
                    <span style="vertical-align: -webkit-baseline-middle;">Started at: {{ scenario["started_at"] }}, Duration: {{ '{:.3f}'.format(scenario['duration']) }}s</span>
                </li>
              </ul>
            </div>
        </div>
    </nav>
    <style>
    .anchor {
      display: inline;
      margin: 0;
      padding: 0;
      font-size: 8px;
      font-style: bold;
      text-decoration: none;
      visibility: hidden;
    }

    .anchor-toggle:hover > .anchor {
      display: inline;
      visibility: visible;
    }
    </style>
    <table class="table table-borderless">
        <tr class="remove-table-hover"><span style="display: inline; color: mediumturquoise">{{ feature['tags'] }} {{ scenario['tags'] }}</span><br/></tr>
        <tr class="d-flex">
            <td class="col-8 text-truncate">
                <span style="display: inline; color: maroon;">Feature: </span> {{ escape(feature['name']) }}<br/>
                <span style="display: inline; color: maroon;">Scenario:</span> {{ escape(scenario['name']) }}
            </td>
            <td class="col-4 text-truncate" style="color: gray;"></td>
        </tr>
        {% for step in steps %}
            {% set step_name = step['keyword'] + ' ' + escape(step['name']) %}
            {% if step['substep'] %}
                {% set step_prefix = "     ⤷" %}
            {% else %}
                {% set step_prefix = "" %}
            {% endif %}
            {% if step['result'] is defined %}
                {% set step_status = step['result']['status'] %}
                {% if step['result']['status'] == 'failed' or step['result']['status'] == 'passed' %}
                    {% set step_timing = "# started at {} took {:.3f}s".format(step["result"]["timestamp"], step["result"]["duration"]) %}
                {% endif %}
            {% else %}
                {% set step_status = 'untested' %}
                {% set step_timing = "" %}
            {% endif %}
            {% set step_keyword = step_prefix + step['keyword'].rjust(6, ' ') %}
            <tr class="d-flex">
                <td class="anchor-toggle text-truncate col-8" data-toggle="collapse" href="#collapsable-row-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapsable-row-{{ loop.index }}">
                    <a class="anchor" id="step_{{ loop.index}}" href="#step_{{ loop.index }}">🔗</a>
                    <pre class="status-{{ step_status }}">{{ step_keyword }}</pre><span class="status-{{ step['result'] }}"> {{ escape(step['name']) }}</span>
            {% if step['text'] %}
                    <br/>
                    <pre style="color: black; margin: 0">{{ escape(step['text']) }}</pre>
            {% endif %}
            {% if step['table'] %}
                    <br/>
                    <pre style="color: black; margin: 0">{{ escape(step['table']) }}</pre>
            {% endif %}
                </td>
                <td><span style="display: inline; color: gray;">{{ step_timing }}</span></td>
            </tr>
            {% if step['result'] is defined %}
                {% if step['result']['stdout'] %}
                    {% for line in step['result']['stdout'] %}
                    <tr class="d-flex">
                        <td class="col-8" colspan="2" class="text-truncate">
                            <span style="color: darkgray;">{{ escape(line) }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if step['image'] is defined and step['result'] is defined %}
            <tr class="d-flex">
                <td class="col-8 collapse multi-collapse" id="collapsable-row-{{ loop.index }}" colspan="2">
                    <img class="col-11 mx-auto d-block img-fluid shadow bg-white rounded" alt='{{ step_name }}' title='{{ step_name }}' src='{{ step["image"] }}'></img>
                </td>
            </tr>
            {% endif %}

            {% if step['result'] is defined %}
                {% if step['result']['error_message'] is defined %}
                    <tr class="d-flex"><td class="col-8" colspan="2" style="margin: 0">
                        <pre style="color: gray; margin: 0">{{ escape("\n".join(step['result']['error_message'])) }}</pre><br/>
                    </td></tr>
                {% endif %}
            {% endif %}

        {% endfor %}
    </table>
    <script>
        const urlParams = new URLSearchParams(window.location.search)
        var expandables = [];
        var expandable_ids = urlParams.get('expand');
        if (expandable_ids === 'all') {
            expand = $('.collapse');
        } else if (expandable_ids) {
            var ids = expandable_ids.split(',');
            for (var index = 0; index < ids.length; index++) {
                expandables.push(document.getElementById(ids[index]));
            }
        }
        for (var index=0; index < expandables.length; index++) {
            $(expandables[index]).removeClass('hide')
            $(expandables[index]).addClass('show')
        }

        // necessary to make sure we jump to the anchored step as the page loads
        // and then we take the URL parameter and figure out which rows to
        // expand and only then would it make sense to adjust for any anchors
        // mentioned in the URL
        $('document').ready(function() {
            MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
            var observer = new MutationObserver(function(mutations, observer) {
                const params = new URLSearchParams(window.location.search)

                // update any open/closed rows
                var expanded = $('.collapse.show');
                var expanded_ids = [];
                for (var index=0; index < expanded.length; index++) {
                    expanded_ids.push(expanded[index].getAttribute('id'))
                }
                params.set('expand', expanded_ids.join(','));

                var url = window.location.pathname + '?' + params.toString() + window.location.hash;
                history.pushState(null, "", url);
            });
            observer.observe(document, {
              subtree: true,
              attributes: true
            });
        });
    </script>
{% endblock %}
