name: publish-production
# publish to pypi.org on merge to default branch

on:
  workflow_dispatch:
  repository_dispatch:
    types: [trigger_publish_test]

jobs:
  publish-production-main:
    environment: cucu-publish-production  # match name in www.PyPI.org OIDC
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for connection to pypi OIDC
      contents: read  # For non-public repo
    steps:
      - name: checkout main
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: main
          fetch-depth: 0
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
        with:
          enable-cache: true
      - name: Install cucu with Python 3.12
        run: |
          uv sync -p 3.12
      - name: build package
        run: |
          uv build
      - name: publish to pypi.org
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
