name: publish-test
# publish to test.pypi.org on merge to default branch

on:
  workflow_dispatch:
  repository_dispatch:
    types: [trigger_publish_test]

jobs:
  publish-test-main:
    environment: cucu-publish-test  # match name in test.PyPI.org OIDC
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for connection to pypi OIDC
      contents: read  # For non-public repo
    steps:
      - name: checkout main
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: main
          fetch-depth: 0
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7
        with:
          version: "latest"
      - name: Install cucu with Python 3.12
        run: |
          uv sync -p 3.12
      - name: build package
        run: |
          uv build
      - name: publish to test.pypi.org
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          repository-url: https://test.pypi.org/legacy/
      - name: trigger publish-production workflow
        run: |
            curl -X POST \
            -H "Authorization: token ${{ github.token }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${GITHUB_REPOSITORY}/dispatches \
            -d '{"event_type": "trigger_publish_production"}'
